{% extends 'base.html.twig' %}


{% block body %}



    <!-- Banner Section --> 
    <section class="banner-section" style="background-image:url(assets/images/background/00.jpg)">
    
        <div class="auto-container">
            <div class="content-box">
                <h1>Votre meilleur guide <br> en Tunisie</h1>
                <div class="text">La solution pour vous accompagner <br> tout au long de votre aventure.</div>
                <a href="#" class="theme-btn btn-style-two"><span class="txt">Découvrir la Tunisie</span></a>
                
                <!-- Destination Form Box -->
                <div class="destination-form-box">
                    <div class="box-inner">
                        
                        <!-- Default Form -->
                        <div class="default-form">
                            <form method="post" action="https://gico.io/ghurbo/demos/ghurbo/contact.html">
                                <div class="row clearfix">
                                
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                        <label>Destination</label>
                                        <input type="text" name="text" placeholder="Type your destination" required>
                                    </div>
                                    
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                        <label>30 January, 2020</label>
                                        <input type="text" name="text" placeholder="30 January, 2020" required>
                                    </div>
                                    
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-12 col-sm-12">
                                        <label>2 guests</label>
                                        <select class="custom-select-box">
                                            <option>Guests</option>
                                            <option>01 Guests</option>
                                            <option>02 Guests</option>
                                            <option>03 Guests</option>
                                            <option>04 Guests</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-group col-lg-3 col-md-12 col-sm-12">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="theme-btn btn-style-one"><i class="map flaticon-maps-and-flags"></i><span class="txt">Search Now</span></button>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
                <!-- End Destination Form Box -->
                
            </div>
            
        </div>

    </section>
    <!-- End Banner Section -->
    
    <!-- Agency Section -->
    <section class="agency-section">

        <div class="auto-container">
            <div class="row clearfix">
                
                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title">Best agency</div>
                            <h2>Why choose our <span class="theme_color">travel <br> agency</span></h2>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s</p>
                        </div>
                        <div class="row clearfix">
                            
                            <!-- Agency Block -->
                            <div class="agency-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-trust"></span>
                                    </div>
                                    <h4>Trust & Safety</h4>
                                    <div class="agency-text">All our cars come from main dealers and go through rigorous checks and tests before they arrive at your door</div>
                                </div>
                            </div>
                            
                            <!-- Agency Block -->
                            <div class="agency-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-plane"></span>
                                    </div>
                                    <h4>Packages 10,000+ </h4>
                                    <div class="agency-text">All our cars come from main dealers and go through rigorous checks and tests before they arrive at your door</div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- Lower Text -->
                        <div class="lower-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, s</div>
                        <div class="holiday">Make your holiday Special</div>
                    </div>
                </div>
                
                <!-- Images Column -->
                <div class="images-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <img src="{{asset('assets/images/resource/agency.jpg')}}" alt="" />
                        </div>
                        <div class="lower-image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <img src="{{asset('assets/images/resource/agency-1.jpg')}}" alt="" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>
    <!-- End Agency Section -->
    
    <!-- Tours Section -->
    <section class="tours-section">

        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2>Perfect Tours</h2>
                <div class="text">Lorem ipsum dolor sit amet, conseetuer adipiscing elit. Aenan comdo <br> igula eget. Aenean massa cum sociis Theme natoque</div>
                <div class="big-title">Tours</div>
            </div>
        </div>
        <div class="outer-container">
            <div class="four-item-carousel owl-carousel owl-theme">
                
                <!-- Tour Block -->
                <div class="tour-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="tour-detail.html"><img src="{{asset('assets/images/resource/tour-1.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                            15+ Review
                                        </div>
                                        <h4><a href="tour-detail.html">The Cosmopolitan Of <br> Las Vegas</a></h4>
                                        <div class="location">3708 Las Vegas Blvd S, Las Vegas, NV</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="price">Night/$150</div>
                                        <div class="dates">Feb 01 - Feb 02 <span>2days</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box">
                                <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
                                    </div>
                                    <div class="pull-right">
                                        <ul class="food-list">
                                            <li><span class="icon flaticon-plane-1"></span>Airpot</li>
                                            <li><span class="icon flaticon-food"></span>Foods</li>
                                            <li><span class="icon flaticon-air-conditioner"></span>Ac</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Tour Block -->
                <div class="tour-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="tour-detail.html"><img src="{{asset('assets/images/resource/tour-2.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                            15+ Review
                                        </div>
                                        <h4><a href="tour-detail.html">The Cosmopolitan Of <br> Las Vegas</a></h4>
                                        <div class="location">3708 Las Vegas Blvd S, Las Vegas, NV</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="price">Night/$150</div>
                                        <div class="dates">Feb 01 - Feb 02 <span>2days</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box">
                                <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
                                    </div>
                                    <div class="pull-right">
                                        <ul class="food-list">
                                            <li><span class="icon flaticon-plane-1"></span>Airpot</li>
                                            <li><span class="icon flaticon-food"></span>Foods</li>
                                            <li><span class="icon flaticon-air-conditioner"></span>Ac</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Tour Block -->
                <div class="tour-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="tour-detail.html"><img src="{{asset('assets/images/resource/tour-3.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                            15+ Review
                                        </div>
                                        <h4><a href="tour-detail.html">The Cosmopolitan Of <br> Las Vegas</a></h4>
                                        <div class="location">3708 Las Vegas Blvd S, Las Vegas, NV</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="price">Night/$150</div>
                                        <div class="dates">Feb 01 - Feb 02 <span>2days</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box">
                                <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
                                    </div>
                                    <div class="pull-right">
                                        <ul class="food-list">
                                            <li><span class="icon flaticon-plane-1"></span>Airpot</li>
                                            <li><span class="icon flaticon-food"></span>Foods</li>
                                            <li><span class="icon flaticon-air-conditioner"></span>Ac</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Tour Block -->
                <div class="tour-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="tour-detail.html"><img src="{{asset('assets/images/resource/tour-4.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                            15+ Review
                                        </div>
                                        <h4><a href="tour-detail.html">The Cosmopolitan Of <br> Las Vegas</a></h4>
                                        <div class="location">3708 Las Vegas Blvd S, Las Vegas, NV</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="price">Night/$150</div>
                                        <div class="dates">Feb 01 - Feb 02 <span>2days</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box">
                                <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
                                    </div>
                                    <div class="pull-right">
                                        <ul class="food-list">
                                            <li><span class="icon flaticon-plane-1"></span>Airpot</li>
                                            <li><span class="icon flaticon-food"></span>Foods</li>
                                            <li><span class="icon flaticon-air-conditioner"></span>Ac</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Tour Block -->
                <div class="tour-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="tour-detail.html"><img src="{{asset('assets/images/resource/tour-1.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                            15+ Review
                                        </div>
                                        <h4><a href="tour-detail.html">The Cosmopolitan Of <br> Las Vegas</a></h4>
                                        <div class="location">3708 Las Vegas Blvd S, Las Vegas, NV</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="price">Night/$150</div>
                                        <div class="dates">Feb 01 - Feb 02 <span>2days</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box">
                                <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
                                    </div>
                                    <div class="pull-right">
                                        <ul class="food-list">
                                            <li><span class="icon flaticon-plane-1"></span>Airpot</li>
                                            <li><span class="icon flaticon-food"></span>Foods</li>
                                            <li><span class="icon flaticon-air-conditioner"></span>Ac</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Tour Block -->
                <div class="tour-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="tour-detail.html"><img src="{{asset('assets/images/resource/tour-2.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                            15+ Review
                                        </div>
                                        <h4><a href="tour-detail.html">The Cosmopolitan Of <br> Las Vegas</a></h4>
                                        <div class="location">3708 Las Vegas Blvd S, Las Vegas, NV</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="price">Night/$150</div>
                                        <div class="dates">Feb 01 - Feb 02 <span>2days</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box">
                                <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
                                    </div>
                                    <div class="pull-right">
                                        <ul class="food-list">
                                            <li><span class="icon flaticon-plane-1"></span>Airpot</li>
                                            <li><span class="icon flaticon-food"></span>Foods</li>
                                            <li><span class="icon flaticon-air-conditioner"></span>Ac</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Tour Block -->
                <div class="tour-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="tour-detail.html"><img src="{{asset('assets/images/resource/tour-3.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                            15+ Review
                                        </div>
                                        <h4><a href="tour-detail.html">The Cosmopolitan Of <br> Las Vegas</a></h4>
                                        <div class="location">3708 Las Vegas Blvd S, Las Vegas, NV</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="price">Night/$150</div>
                                        <div class="dates">Feb 01 - Feb 02 <span>2days</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box">
                                <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
                                    </div>
                                    <div class="pull-right">
                                        <ul class="food-list">
                                            <li><span class="icon flaticon-plane-1"></span>Airpot</li>
                                            <li><span class="icon flaticon-food"></span>Foods</li>
                                            <li><span class="icon flaticon-air-conditioner"></span>Ac</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Tour Block -->
                <div class="tour-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="tour-detail.html"><img src="{{asset('assets/images/resource/tour-4.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                            15+ Review
                                        </div>
                                        <h4><a href="tour-detail.html">The Cosmopolitan Of <br> Las Vegas</a></h4>
                                        <div class="location">3708 Las Vegas Blvd S, Las Vegas, NV</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="price">Night/$150</div>
                                        <div class="dates">Feb 01 - Feb 02 <span>2days</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box">
                                <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
                                    </div>
                                    <div class="pull-right">
                                        <ul class="food-list">
                                            <li><span class="icon flaticon-plane-1"></span>Airpot</li>
                                            <li><span class="icon flaticon-food"></span>Foods</li>
                                            <li><span class="icon flaticon-air-conditioner"></span>Ac</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>
    <!-- End Tours Section -->
    
    <!-- Video Section -->
    <section class="video-section">

        <div class="auto-container">
            <!-- Video Box -->
            <div class="video-box margin-top">
                <div class="image">
                    <div class="big-text">Las Vegas</div>
                    <img src="{{asset('assets/images/resource/video-img.jpg')}}" alt="" />
                    <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-media-play-symbol"><i class="ripple"></i></span></a>
                </div>
            </div>
        </div>

    </section>
    
    <!-- Destination Section -->
    <section class="destinations-section">

        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2>Nos logements</h2>
                <div class="text">Réservez dès maintenant <br> le logement qui vous convient</div>
                <div class="big-title style-two">Trending </div>
            </div>
        </div>
        <div class="outer-container">
            <div class="four-item-carousel owl-carousel owl-theme">
            
                <!-- Destinations Block -->
                <div class="destinations-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/destination-1.jpg')}}" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h3>Indonesia</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tours">40 <span>Tour</span></div>
                    </div>
                </div>
                
                <!-- Destinations Block -->
                <div class="destinations-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/destination-2.jpg')}}" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h3>Vietnam</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tours">15 <span>Tour</span></div>
                    </div>
                </div>
                
                <!-- Destinations Block -->
                <div class="destinations-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/destination-3.jpg')}}" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h3>Thailand</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tours">60 <span>Tour</span></div>
                    </div>
                </div>
                
                <!-- Destinations Block -->
                <div class="destinations-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/destination-4.jpg')}}" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h3>Kashmir Pakistan</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tours">21 <span>Tour</span></div>
                    </div>
                </div>
                
                <!-- Destinations Block -->
                <div class="destinations-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/destination-1.jpg')}}" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h3>Indonesia</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tours">40 <span>Tour</span></div>
                    </div>
                </div>
                
                <!-- Destinations Block -->
                <div class="destinations-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/destination-2.jpg')}}" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h3>Vietnam</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tours">15 <span>Tour</span></div>
                    </div>
                </div>
                
                <!-- Destinations Block -->
                <div class="destinations-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/destination-3.jpg')}}" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h3>Thailand</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tours">60 <span>Tour</span></div>
                    </div>
                </div>
                
                <!-- Destinations Block -->
                <div class="destinations-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/destination-4.jpg')}}" alt="" />
                            <!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <h3>Kashmir Pakistan</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tours">21 <span>Tour</span></div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>
    <!-- End Destination Section -->
    
    <!-- Counter Section -->
    <section class="counter-section">

        <div class="auto-container"> 
            <div class="inner-container" style="background-image:url(assets/images/background/map-pattern.png)">
            
                <!-- Fact Counter -->
                <div class="fact-counter">
                    <div class="row clearfix">
                    
                        <!--Column-->
                        <div class="column counter-column col-lg-4 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="count-outer count-box">
                                    <div class="icon flaticon-journey"></div>
                                    <div class="counter-title">Total Travel</div>
                                    <span class="count-text" data-speed="3000ms" data-stop="1">0</span>K+
                                </div>
                            </div>
                        </div>
                
                        <!--Column-->
                        <div class="column counter-column col-lg-4 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="count-outer count-box">
                                    <div class="icon flaticon-travel"></div>
                                    <div class="counter-title">Travel Country</div>
                                    <span class="count-text" data-speed="2000" data-stop="30">0</span>
                                </div>
                            </div>
                        </div>
                
                        <!--Column-->
                        <div class="column counter-column col-lg-4 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="count-outer count-box">
                                    <div class="icon flaticon-review"></div>
                                    <div class="counter-title">Five Star Rating</div>
                                    <span class="count-text" data-speed="2000" data-stop="20">0</span>+
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="text">Along with 1000s of cars to choose from, you can apply for finance online and value <br> your existing car all from the comfort of your favourite armchair</div>
                <div class="btn-box text-center">
                    <a href="#" class="theme-btn btn-style-one"><span class="txt">THINGS TO DO</span></a>
                </div>
            </div>
        </div>

    </section>
    <!-- End Counter Section -->
    
    <!-- Trip Section -->
    <section class="trip-section">

        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2>Nos évènements à venir!</h2>
                <div class="text">Profitez de votre séjour en Tunisie <br> grâce aux évènements que nous vous proposons</div>
                <div class="big-title style-two">NextTrip</div>
            </div>
            <div class="three-item-carousel owl-carousel owl-theme">
                
                <!-- Trip Block -->
                <div class="trip-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/trip-1.jpg')}}" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h4><a href="tour-detail.html">Myrtle beach</a></h4>
                                    <div class="text">Explore the city's Renaissance art & architecture, and savour the world-class food & wine</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Trip Block -->
                <div class="trip-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/trip-2.jpg')}}" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h4><a href="tour-detail.html">Cox-Bazar</a></h4>
                                    <div class="text">Explore the city's Renaissance art & architecture, and savour the world-class food & wine</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Trip Block -->
                <div class="trip-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/trip-3.jpg')}}" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h4><a href="tour-detail.html">Saint martin</a></h4>
                                    <div class="text">Explore the city's Renaissance art & architecture, and savour the world-class food & wine</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Trip Block -->
                <div class="trip-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/trip-1.jpg')}}" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h4><a href="tour-detail.html">Myrtle beach</a></h4>
                                    <div class="text">Explore the city's Renaissance art & architecture, and savour the world-class food & wine</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Trip Block -->
                <div class="trip-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/trip-2.jpg')}}" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h4><a href="tour-detail.html">Cox-Bazar</a></h4>
                                    <div class="text">Explore the city's Renaissance art & architecture, and savour the world-class food & wine</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Trip Block -->
                <div class="trip-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{asset('assets/images/resource/trip-3.jpg')}}" alt="" />
                            <div class="overlay-box">
                                <div class="content">
                                    <h4><a href="tour-detail.html">Saint martin</a></h4>
                                    <div class="text">Explore the city's Renaissance art & architecture, and savour the world-class food & wine</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>  
    <!-- End Trip Section -->
    
    <!-- Testimonial Section -->
    <section class="testimonial-section" style="background-image:url(assets/images/background/pattern-1.png)">

        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2>Avis de nos clients</h2>
            </div>
            <div class="single-item-carousel owl-carousel owl-theme">
                
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">I really had my doubts at first. I asked for a quote online and the next day I was <br> contacted by a sales representative. The quote came out high so the salesman <br> did a good job to find me a good deal</div>
                        <div class="author-info">
                            <div class="author-image">
                                <img src="{{asset('assets/images/resource/author-1.jpg')}}" alt="" />
                            </div>
                            <h4>Shopnil Mahdi</h4>
                            <div class="designation">Ux & Product Designer</div>
                        </div>
                    </div>
                </div>
                
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">I really had my doubts at first. I asked for a quote online and the next day I was <br> contacted by a sales representative. The quote came out high so the salesman <br> did a good job to find me a good deal</div>
                        <div class="author-info">
                            <div class="author-image">
                                <img src="{{asset('assets/images/resource/author-1.jpg')}}" alt="" />
                            </div>
                            <h4>Shopnil Mahdi</h4>
                            <div class="designation">Ux & Product Designer</div>
                        </div>
                    </div>
                </div>
                
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">I really had my doubts at first. I asked for a quote online and the next day I was <br> contacted by a sales representative. The quote came out high so the salesman <br> did a good job to find me a good deal</div>
                        <div class="author-info">
                            <div class="author-image">
                                <img src="{{asset('assets/images/resource/author-1.jpg')}}" alt="" />
                            </div>
                            <h4>Shopnil Mahdi</h4>
                            <div class="designation">Ux & Product Designer</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>
    <!-- End Testimonial Section -->
    
    <!-- News Section -->
    <section class="news-section">

        <div class="auto-container">
            
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2>Forum de Discussions</h2>
                <div class="text">Rejoignez nos forums de discussion <br> pour avoir une idée sur tout ce qu'il vous faut.</div>
                <div class="big-title style-two">news</div>
            </div>
            
            <div class="row clearfix">
                
                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="blog-detail.html"><img src="{{asset('assets/images/resource/news-1.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>By Admin</li>
                                <li>03 January 2020</li>
                            </ul>
                            <h4><a href="blog-detail.html">The holiday season is a great time to visit Japan.</a></h4>
                            <div class="text">Your donation to Children in Crossfire will make a huge difference in the lives of the children we work with in Tanzania... </div>
                            <a href="blog-detail.html" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                
                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="blog-detail.html"><img src="{{asset('assets/images/resource/news-2.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>By Admin</li>
                                <li>03 January 2020</li>
                            </ul>
                            <h4><a href="blog-detail.html">10 things you probably don’t know about Wales</a></h4>
                            <div class="text">Your donation to Children in Crossfire will make a huge difference in the lives of the children we work with in Tanzania... </div>
                            <a href="blog-detail.html" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                
                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="blog-detail.html"><img src="{{asset('assets/images/resource/news-3.jpg')}}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>By Admin</li>
                                <li>03 January 2020</li>
                            </ul>
                            <h4><a href="blog-detail.html">7 hotel perks millennials say they want—and where to find them</a></h4>
                            <div class="text">Your donation to Children in Crossfire will make a huge difference in the lives of the children we work with in Tanzania... </div>
                            <a href="blog-detail.html" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </section>
    <!-- End News Section -->
    
{% endblock %}
